<div class="columns is-8 margin-top">
    <div class="column is-one-third has-text-centered">
        <figure class="image container is-128x128">
            <%= image_tag avatar_url(@user), class:"is-rounded is-centered" %>
        </figure>
        <br>
        <div class="panel">
            <div class="panel-heading has-background-primary has-text-white has-text-weight-bold">
                Verification
            </div>
            <div class="panel-block control has-icons-right">
                <p>Email Adress </p>
                <span class='icon is-right has-text-success'><i class='fa fa-check'></i></span>
            </div>
            <div class="panel-block control has-icons-right">
                <p>Phone Number</p>
                <span class='icon is-right has-text-success'><i class='fa fa-check'></i></span>
            </div>
        </div>
    </div>
    <div class="column is-two-thirds">
        <h2 class="is-size-2">Hi, I'm <%= @user.fullname%> </h2>
        <p>Joined in <%= @user.created_at.year %> · <%= link_to  "Edit profile", edit_user_registration_path if @user == current_user %> </p>
		<div class="description">
            <p class="quote is-family-monospace">“</p>
            <%= @user.description%>
        </div>
        <hr><br>
        <div class="columns is-multiline">
            <% @rooms.each do |room| %>
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <%= image_tag  url_for(room.room_pictures.first) %>                        
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <%= link_to room.listing_name, room, class: "is-size-5 has-text-weight-semibold" %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
		<div>
			<p class="has-text-weight-semibold is-size-3"><%= pluralize(@reviews.count, "comment")  %></p>
			<% @reviews.each do |review| %>
				<%= review.id %>: <%= review.comment %><br>
				<%= review_stars(review.score) %>
				<br>
			<% end %>
		</div>
    </div>
</div>



