<div class="columns">
    <div class="column is-one-quarter">
        <aside class="menu">
        <ul class="menu-list">
            <li> <%= link_to "Your Listings", rooms_path %> </li>
            <li> <%= link_to "Your Reservations", reservations_path %> </li>
            <li> <%= link_to "Your Trips", trips_path %> </li>
        </ul>
        </aside>
    </div>
    <div class="column is-three-quarters">
        <div class="panel">
            <div class="panel-heading has-background-primary has-text-white has-text-weight-bold">
                Your trips
            </div>
            <div class="panel-block">
                <div class="container">
                    <% @trips.each do |trip| %>
                        <div class="columns is-vcentered is-centered is-mobile is-multiline">
                            <div class="column is-2 is-hidden-mobile">
                                <%= image_tag url_for(trip.room.room_pictures.first), onerror: "this.src='http://contrapoderweb.com/wp-content/uploads/2014/10/default-img.gif'" %>
                            </div>
                            <div class="column is-4-desktop is-3-mobile">
                                <%= link_to  trip.room.listing_name, room_path(trip.room), class: "is-size-5" %>
                            </div>
                            <div class="column is-2-desktop is-3-mobile">
                                <%= trip.start_date.strftime('%v')%> <br>
                                (<%= pluralize((trip.end_date.day - trip.start_date.day), "night") %>)
                            </div>
                            <div class="column is-2">
                                <%= trip.total %> €
                            </div>
                            <div class="column is-2">
                                <figure class="image is-48x48 container">
                                    <%= link_to trip.room.user do %>
                                        <%= image_tag  avatar_url(trip.room.user), class: "is-rounded" %>
                                    <% end %>
                                </figure>
                            </div>
                            <div class="is-2">
                                <%= render  partial: "reviews/guest_form", locals: {reservation: trip} if !user_has_reviewed(trip) && trip.is_finished %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>