<aside class="menu">
  <ul class="menu-list">
    <li class="control has-icons-right"> <%= link_to "Listing", listing_room_path %> <%= is_done() %></li>
    <li class="control has-icons-right"> <%= link_to "Pricing", pricing_room_path %> <%= is_done([@room.price]) %> </li>
    <li class="control has-icons-right"> <%= link_to "Description", description_room_path %> <%= is_done([@room.listing_name, @room.summary]) %> </li>
    <li class="control has-icons-right"> <%= link_to "Photos", photo_upload_room_path %> <%= is_done([@room.room_pictures]) %> </li>
    <li class="control has-icons-right"> <%= link_to "Amenities", amenities_room_path %> <%= is_done() %> </li>
    <li class="control has-icons-right"> <%= link_to "Location", location_room_path %> <%= is_done([@room.address]) %> </li>
  </ul>

  <% if !is_publishable(@room) && !@room.active %>
    <%= link_to "Publish", root_path , disabled: true, class: "button is-primary has-text-white is-fullwidth" %>
  <% elsif @room.active %>
    <%= form_for @room do |f| %>
      <%= f.hidden_field :active, value: false %>
      <%= f.submit "Unpublish", class: "button is-danger has-text-white is-fullwidth" %>
    <% end %>
  <% else %>
    <%= form_for @room do |f| %>
      <%= f.hidden_field :active, value: true %>
      <%= f.submit "Publish", class: "button is-primary has-text-white is-fullwidth" %>
    <% end %>
  <% end %>
</aside>