<div class="columns">
    <div class="column is-one-quarter">
        <%= render  "room_menu" %>
    </div>
    <div class="column is-three-quarters">
        <div class="panel">
            <div class="panel-heading has-background-primary has-text-white has-text-weight-bold">
                Description
            </div>
            <div class="panel-block">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-6">
                            <%= form_for @room do |f| %>
                                <div class="field has-text-centered">
                                    <%= f.label :listing_name, class: "label" %>
                                    <div class="control has-text-centered">
                                        <%= f.text_field :listing_name, placeholder: "Your address", class: "input is-medium is-primary" %>
                                    </div>
                                </div>
                                <div class="field has-text-centered">
                                    <%= f.label :summary, class: "label" %>
                                    <div class="control has-text-centered">
                                        <%= f.text_area :summary,rows: 5, placeholder: "Summary of your house", class: "textarea is-medium is-primary" %>
                                    </div>
                                </div>
                                <div class="has-text-centered">
                                    <%= f.submit "Save", class: "button is-success" %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>