<div class="columns">
    <div class="column is-one-quarter">
        <aside class="menu">
        <ul class="menu-list">
            <li> <%= link_to "Your Listings", rooms_path %> </li>
            <li> <%= link_to "Your Reservations", reservations_path %> </li>
            <li> <%= link_to "Your trips", trips_path %> </li>
        </ul>
        </aside>
    </div>
    <div class="column is-three-quarters">
        <div class="panel">
            <div class="panel-heading has-background-primary has-text-white has-text-weight-bold">
                Listings
            </div>
            <div class="panel-block">
                <div class="container">
                    <% @rooms.each do |room| %>
                        <div class="columns is-vcentered is-mobile">
                            <div class="column is-2 is-hidden-mobile">
                                <%= image_tag url_for(room.room_pictures.first), onerror: "this.src='http://contrapoderweb.com/wp-content/uploads/2014/10/default-img.gif'" %>
                            </div>
                            <div class="column is-5-desktop is-4-mobile">
                                <p class="is-size-5"><%= room.listing_name %></p>
                            </div>
                            <div class="column is-2-desktop is-3-mobile">
                                <%= link_to "Update", listing_room_path(room), class: "button is-primary has-text-white" %>
                            </div>
                            <div class="column is-3 has-text-right">
                                <% if room.active? %>
                                    <span class="tag is-success">status: published</span>
                                <% else %>
                                    <span class="tag is-light">status: unpublished</span>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                    <div class="has-text-centered">
                        <%= link_to "Create new listing", new_room_path, class: "button is-primary has-text-white" %>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>