<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css">
<div class="container is-widescreen">
    <!-- Start Hero Carousel -->
    <section class="hero is-large has-carousel">
        <div id="carousel-demo" class="hero-carousel">
            <% @room.room_pictures.each_with_index do |picture, index| %>
                <div class=<%= "has-text-centered item-" + (index + 1).to_s %> >
                    <%= image_tag url_for(picture) %>
                </div>
            <% end %>
        </div>
        <div class="hero-head"></div>
        <div class="hero-body"></div>
        <div class="hero-foot"></div>
    </section>
    <!-- End Hero Carousel -->
    <br><br>
    <div class="columns is-centered">
        <div class="column is-8">
            <div class="columns is-vcentered">
                <div class="column is-9">
                    <h2 class="is-size-2"><%= @room.listing_name %></h2>
                    <p><%= @room.address %></p>
                        <%= review_stars(@reviews.average(:score).round) + "(" + @reviews.average(:score).to_s + ")" unless @reviews.blank?  %>
                </div>
                <div class="column is-3">
                    <figure class="image is-128x128 container">
                    <%= link_to @room.user do %>
                        <%= image_tag  avatar_url(@room.user), class: "is-rounded" %>
                    <% end %>
                    </figure> <br>
                    <div class="has-text-centered"><%= link_to  @room.user.fullname, @room.user, class:" has-text-weight-semibold" %></div>
                </div>
            </div>

            <hr>

            <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                <p class="title"><span class="icon has-text-primary"><i class="fa fa-home"></i></span></p>
                <p class="heading has-text-primary has-text-weight-semibold"><%= @room.home_type %></p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                <p class="title"><span class="icon has-text-primary"><i class="fa fa-user-circle"></i></span></p>
                <p class="heading has-text-primary has-text-weight-semibold"><%= pluralize(@room.accommodate, 'Guest') %></p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                <p class="title"><span class="icon has-text-primary"><i class="fa fa-bed"></i></span></p>
                <p class="heading has-text-primary has-text-weight-semibold"><%= pluralize(@room.bed_room, 'Bedroom') %></p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                <p class="title"><span class="icon has-text-primary"><i class="fa fa-bath"></i></span></p>
                <p class="heading has-text-primary has-text-weight-semibold"><%= pluralize(@room.bath_room, 'Bathroom') %></p>
                </div>
            </div>
            </nav>

            <hr>

            <div>
                <h3 class="is-size-3">About this Listing</h3>
                <p><%= @room.summary %></p>
            </div>

            <hr>

            <div class="columns is-centered">
                <div class="column is-size-5 has-text-weight-semibold">Amenities :</div>
                <div class="column">
                <ul>
                    <li class="<%= @room.is_tv ? "has-text-weight-semibold" : "strikethrough-text has-text-grey-lighter" %>">TV</li>
                    <li class="<%= @room.is_kitchen ? "has-text-weight-semibold" : "strikethrough-text has-text-grey-lighter" %>">Kitchen</li>
                    <li class="<%= @room.is_internet ? "has-text-weight-semibold" : "strikethrough-text has-text-grey-lighter" %>">Internet</li>
                </ul>
                </div>
                <div class="column">
                <ul>
                    <li class="<%= @room.is_heating ? "has-text-weight-semibold" : "strikethrough-text has-text-grey-lighter" %>">Heating</li>
                    <li class="<%= @room.is_air ? "has-text-weight-semibold" : "strikethrough-text has-text-grey-lighter" %>">Air Contitioning</li>
                </ul>
                </div>
            </div>

            <div>
                <div id="map" style="width: 100%; height: 400px"></div>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHIKeUdcN25O94GvkSr4ZbzB6kWdo31Ys"></script>
                <script>
                    function initialize() {
                        var location = { lat: <%= @room.latitude %>, lng: <%= @room.longitude %> }
                        var map = new google.maps.Map(document.getElementById('map'), {
                            center: location,
                            zoom: 14
                        });
                        var marker = new google.maps.Marker({
                            position: location,
                            map: map
                        });
                        var infoWindow = new google.maps.InfoWindow({
                            content: '<figure class="image is-128x128"> <%= image_tag url_for(@room.room_pictures.first) %> </figure>'
                        });

                        infoWindow.open(map, marker);

                        google.maps.event.addDomListener(window, 'load', initialize);
                    }
                    initialize()
                </script>
            </div>

            <hr>
            <h5 class="is-size-5 has-text-weight-semibold">Near by rooms</h5> <br>
            <div class="columns is-multiline">
                <% for room in @room.nearbys(10) %>
                    <div class="column is-3">
                        <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <%= image_tag  url_for(room.room_pictures.first) %>
                            </figure>
                        </div>
                        <div class="card-content">


                            <div class="content">
                                <%= link_to room.listing_name, room, class: "is-size-5 has-text-weight-semibold" %>
                                <p><%= room.distance.round(2) %> km away</p>
                            </div>
                        </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div>
                <h5 class="is-size-5 has-text-weight-semibold">Reviews</h5> <br>
                <% @reviews.each do |review| %>
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <%= image_tag avatar_url(review.from_user), class:"is-rounded is-centered" %>
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4"><%= review.from_user.fullname %></p>
                                    </div>
                                </div>
                                <div class="content">
                                    <%= review_stars(review.score) %> <br>
                                    <%= review.comment %>
                                    <br>
                                    <time class="is-size-7 has-text-grey"> <%= review.created_at.strftime("%B %d, %Y") %> </time>
                                </div>
                            </div>
                        </div>
                    <br>
                <% end %>
            </div>
        </div>
        <div class="column is-4">
            <%= render  "reservation_form" %>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
    <script>
    // Initialize all div with carousel class
    bulmaCarousel.attach('#carousel-demo', {
				slidesToScroll: 1,
				slidesToShow: 1
			})
    var options
    var carousels = bulmaCarousel.attach('.carousel', options);

    // Loop on each carousel initialized
    for(var i = 0; i < carousels.length; i++) {
        // Add listener to  event
        carousels[i].on('before:show', state => {
            console.log(state);
        });
    }

    // Access to bulmaCarousel instance of an element
    var element = document.querySelector('#my-element');
    if (element && element.bulmaCarousel) {
        // bulmaCarousel instance is available as element.bulmaCarousel
        element.bulmaCarousel.on('before-show', function(state) {
            console.log(state);
        });
    }
</script>
